.outerCircle {
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
}

.outerCircle.paper {
  box-shadow: 0 10px 0px 0 rgb(66, 66, 54);
}

.outerCircle.scissor {
  box-shadow: 0 10px 0px -2px #ffc107;
}

.outerCircle.rock {
  box-shadow: 0 10px 0px -2px #fd7e14;
}

.outerCircle.stick {
  box-shadow: 0 10px 0px 0 rgb(66, 66, 54);
}

.outerCircle.ring {
  box-shadow: 0 10px 0px -2px #fd7e14;
}

.innerCircle > img {
  width: 7vw;
  height: 7vw;
  background: white;
  border-radius: 50%;
  box-shadow: inset 0 10px 3px -7px rgb(188, 192, 218);
}

.innerCircle {
  cursor: pointer;
}


@media (max-width: 1280px) {
  .outerCircle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }

  .innerCircle > img {
    width: 90px;
    height: 90px;
  }
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}


.innerCircle:hover{
  -webkit-animation: swing 0.6s ease;
  animation: swing 0.6s ease;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1;
}
