.outerCircle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.outerCircle.paper {
  background-image: radial-gradient(hsl(240, 5%, 7%), hsl(71, 21%, 53%));
  box-shadow: 0 10px 0px -2px rgb(66, 66, 54);
}

.outerCircle.scissors {
  background-image: radial-gradient(hsl(240, 5%, 7%), hsl(71, 21%, 53%));
  box-shadow: 0 10px 0px -2px rgb(199, 108, 27);
}

.outerCircle.rock {
  background-image: radial-gradient(hsl(240, 5%, 7%), hsl(71, 21%, 53%));
  box-shadow: 0 10px 0px -2px hsl(347, 64%, 46%);
}

.innerCircle {
  width: 85px;
  height: 85px;
  background: white;
  border-radius: 50%;
  box-shadow: inset 0 6px 3px -7px rgb(188, 192, 218);
}

.innerCircle > img {
  width: 90px;
  height: 90px;
  background: white;
  border-radius: 50%;
  box-shadow: inset 0 10px 3px -7px rgb(188, 192, 218);
}
