.App {
  min-height: 100vh;
  max-width: 100vw;
  background-color: #BDBDBD
}

.hv-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:focus {
  box-shadow: none;
}

.btn:hover {
  color: white;
}

.modal-backdrop {
  display: none;
}

.buttonsContainer {
  padding: 0px;
}

.container {
  max-width: 100%;
}
